@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    min-width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #0fdaab41, #0fb5da4b), url("andrew-kliatskyi-RJ7tsexUyJY-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header,
main,
.projects {
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    justify-content: space-around;
    align-items: center;

}

.lolo {
    width: 300px;
    height: 300px;
    background: url("lolo_sem_bg.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 5px solid #0FDAA9;
}

.social {
    text-align: right;
    width: 440px;
}

.social a {
    color: #0FCEDA;
    font-size: 2rem;
    padding: 10px;
}

.presentation {
    display: inline-block;
    width: 450px;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #fff;
}

.presentation span {
    color: #0FDAB5;
    font-weight: 700;
}

/*skills*/

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.skills ul {
    text-align: center;
    font-size: 2rem;
    list-style: none;
}

ul {
    color: #0FCEDA;
}

ul~ul {
    color: #0FDAB5;
}

/*projects*/

.projects {}

.projects h2 {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: #0FCEDA;
}

@media screen and (max-width: 800px){
    header{
        flex-direction: row;
    }

    .lolo{
        width: 200px;
        height: 200px;
    }


    .social, .presentation{
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        padding: 10px 0;
        margin: 10px 0;
    }

    .skills{
        padding: 10px 0;
        flex-direction: column;
        height: fit-content;
        margin-bottom: 10px;
    }

    .skills ul{
        margin: 10px 0;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
header,main,.projects {
    width: 100%;
}
}