@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #0fdaab75, #0fb5da6c), url("andrew-kliatskyi-RJ7tsexUyJY-unsplash.jpg");
    background-size: 100vw 100vh;
}