button{
    color: #efefef;
    background-color:  #0168B8;

    border: none;
    border-radius: 7px;

    margin: 2px;
    padding: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #41B14F;
}